<h3>Login</h3>
<hr />
<!--<p>{{ 'loginPresentation' | translate }}</p>-->

<form>
	<div class="form-group">
			<label for="panel-login">{{ 'login' | translate }}</label>
			<input type="text" name="login" id="panel-login" class="form-control">
			<div class="invalid-feedback">{{ 'loginRequired' | translate }}</div>
			<div class="invalid-feedback">{{ 'loginValid' | translate }}</div>
		</div>

		<div class="form-group">
			<label for="panel-password">{{ 'password' | translate }}</label>
			<input type="password" name="password" id="panel-password" class="form-control">
			<div class="invalid-feedback">{{ 'passwordRequired' | translate }}</div>
			<div class="invalid-feedback">{{ 'passwordValid' | translate }}</div>
		</div>

	<button class="btn btn-primary" type="submit">{{ 'send' | translate }}</button>
</form>
