<h3>Confirmação da conta</h3>
<hr />
<p>
	Confirme sua conta e ganhe uma recompensa exclusiva da confirmação por 7 dias.
  <br> Clique em enviar e receberá um email com o link para realizar a confirmação.
</p>

<button class="btn btn-primary" type="button">Enviar</button>
