<h3>Cadastrar</h3>
<hr />
<p>Crie seu cadastro e participe dessa aventura!</p>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 px-0">

	<form [formGroup]="form" (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label for="name">Nome</label>
			<input type="text" name="name" id="name" formControlName="name" class="form-control" [ngClass]="form.get('name') | validate">
			<div *ngIf="form.get('name').errors?.required" class="invalid-feedback">O nome é obrigatório.</div>
		</div>

		<div class="form-group">
			<label for="login">Login</label>
			<input type="text" name="login" id="login" formControlName="login" class="form-control" [ngClass]="form.get('login') | validate">
			<div *ngIf="form.get('login').errors?.required" class="invalid-feedback">O login é obrigatório.</div>
			<div *ngIf="form.get('login').errors?.pattern" class="invalid-feedback">Insira um login válido.</div>
		</div>

		<div class="form-group">
			<label for="password">Senha</label>
			<input type="password" name="password" id="password" formControlName="password" class="form-control" [ngClass]="form.get('password') | validate">
			<div *ngIf="form.get('password').errors?.required" class="invalid-feedback">A senha é obrigatória.</div>
			<div *ngIf="form.get('password').errors?.pattern" class="invalid-feedback">Insira uma senha válida.</div>
		</div>

		<div class="form-group">
			<label for="confirm-password">Confirmar Senha</label>
			<input type="password" name="confirm-password" id="confirm-password" formControlName="confirm-password" class="form-control" [ngClass]="form.get('confirm-password') | validate">
			<div *ngIf="form.get('confirm-password').errors?.confirmPassword" class="invalid-feedback">A senha não é igual.</div>
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="email" id="email" formControlName="email" class="form-control" [ngClass]="form.get('email') | validate">
			<div *ngIf="form.get('email').errors?.required" class="invalid-feedback">O email é obrigatório.</div>
			<div *ngIf="form.get('email').errors?.email" class="invalid-feedback">Insira um email válido.</div>
			<div *ngIf="form.get('email').errors?.emailExist" class="invalid-feedback">O email já está sendo utilizado.</div>
		</div>

		<button class="btn btn-primary" [disabled]="form.status === 'INVALID'" type="submit">Enviar</button>
		<button class="btn btn-danger" (click)="onReset()" type="button">Limpar</button>
	</form>

</div>
