<h3>Downloads</h3>
<hr />
<p>Baixe aqui os arquivos para se conectar no nosso servidor!</p>

<h4>Como se conectar</h4>

<p>
1. Baixe e instale o cliente <br>
2. Baixe o patch do servidor <br>
3. Instale o patch na pasta que instalou o cliente <br>
4. Abra a pasta o jogo e execute o Arquivo "LancherL2.exe"
</p>


<h4>Arquivos</h4>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active">Windows</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">MacOS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Linux</a>
  </li>
</ul>

<table class="table table-hover">
  <thead>
  <tr>
    <th class="border-top-0" scope="col">Descrição</th>
    <th class="border-top-0" scope="col">Tamanho</th>
    <th class="border-top-0" scope="col">Mirror #1</th>
    <th class="border-top-0" scope="col">Mirror #2</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Client Full</td>
    <td>2.4 GB</td>
    <td>Direto</td>
    <td>Mega Upload</td>
  </tr>
  <tr>
    <td>Patch</td>
    <td>70 MB</td>
    <td>Direto</td>
    <td>Mega Upload</td>
  </tr>
  <tr>
    <td>Auto Updater</td>
    <td>8 MB</td>
    <td>Direto</td>
    <td>Mega Upload</td>
  </tr>
  </tbody>
</table>
