<h3>{{ editDownload ? 'Editar' : 'Cadastrar' }} Download</h3>
<hr />

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 px-0">
  <form>
    <div class="form-group">
      <label for="description">Nome</label>
      <input type="text" name="description" id="description" class="form-control">
      <div class="invalid-feedback">Informe uma descrição.</div>
    </div>

    <div class="form-group">
      <label for="size">Tamanho</label>
      <input type="text" name="size" id="size" class="form-control">
      <div class="invalid-feedback">Informe um tamanho.</div>
    </div>

    <div class="form-group">
      <label for="mirror1">Mirror #1</label>
      <input type="text" name="mirror1" id="mirror1" class="form-control">
      <div class="invalid-feedback">Informe um mirror.</div>
    </div>

    <div class="form-group">
      <label for="mirror2">Mirror #2</label>
      <input type="text" name="mirror2" id="mirror2" class="form-control">
    </div>


    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
</div>
